* {
  box-sizing: border-box;
}

.BookDisplay {
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 500px;
  min-width: 240px;
  position: relative;
  text-align: left;
  width: 60%;
  z-index: 500;
}

.Mode {
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
}

.bookDisplayContainer {
  background: #fff;
}

.BookDisplay .Mode button {
  background: #efefef;
  border: 0;
  color: #36393f;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 50%;
}

.BookDisplay .View {
  bottom: 0;
  left: 0;
  position: absolute;
}

.BookDisplay .Edit {
  bottom: 0;
  position: absolute;
  right: 0;
}

.BookDisplay .Mode button:disabled {
  background: #fff;
  color: #000;
  height: 60px;
}

@media (max-width: 700px) {
  .BookDisplay {
    width: 95%;
  }
}

@media (max-width: 500px) {
  /* .BookDisplay .Mode {
    display: none;
  } */
}
