.AddBookModal {
  background: #fff;
  color: #000;
  margin: 0 auto;
  padding: 1em;
}

.AddBookModal fieldset {
  border: none;
  color: #000;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
  align-items: center;
}

.AddBookModal form {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.AddBookModal label {
  text-align: right;
  text-transform: capitalize;
}

.AddBookModal input {
  padding: 0.5rem 0.2rem;
  border: none;
  border-bottom: 1px solid #000;
  width: 215px;
}
