.Button {
  color: #333;
  background: #efefef;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0;
  text-align: center;
}

.SignIn {
  display: block;
  margin: 0 auto;
}
.Update {
  color: #36393f;
  margin: 0 auto;
  display: block;
  background: #efefef;
  font-weight: bold;
  padding: 1rem;
  border: 0;
}

.changeAuth {
  background: none;
  color: #efefef;
  font-size: 0.5em;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: underline;
  border: 0;
}

.Welcome {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.Logout {
  width: 100%;
  background-color: #000;
  font-weight: bold;
  border: 0;
  padding: 1em;
  color: #fff;
  margin-top: 0.2em;
}

/* .Welcome span {
  color: lightgray;
  font-size: 0.7em;
} */

.Sort {
  background: none;
  color: #efefef;
  border: 1px solid #efefef;
  text-transform: uppercase;
  width: 100%;
  margin: 0.25em 0;
}
