.Books {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1rem;
  position: relative;
}

.Letters {
  color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.Letters p {
  font-size: 1rem;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  transform: translateY(-2.5rem);
}

.Letters:after {
  border-top: 1px dashed #fff;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  transform: translateY(-5px);
  width: 100%;
}

.Letters:first-child:after {
  transform: translateY(2px);
}
