.Input input {
  background: none;
  border: 0;
  border-bottom: 1px solid #efefef;
  margin: 0;
  width: 100%;
  /* max-width: 250px; */
  font-size: 1em;
  color: #efefef;
}

.EditBook {
  margin: 1em 0;
}

.Input label {
  text-align: left;
  text-transform: capitalize;
}
