.App {
  /* text-align: center; */
  background-color: #36393f;
  min-height: 130vh;
}
.Flex-Container {
  position: relative;
}

#myIntersect {
  transform: translateX(-100%);
  transition: 1s;
}

.TESTBOOKS {
  position: absolute;
}
