.EditForm {
  padding: 1em;
}
.EditForm form {
  position: relative;
}

.EditForm fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Update {
  color: #36393f;
  margin: 0 auto 2rem auto;
  display: block;
  background: #efefef;
  font-weight: bold;
  padding: 1rem;
  border: 0;
}

.Delete {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  border: 0;
  background: #b9483d;
  color: #efefef;
  font-size: 12px;
  font-weight: bold;
  padding: 1em;
}
