* {
  box-sizing: border-box;
}

.BookDisplay {
  text-align: left;
  z-index: 500;
  position: relative;
  background: none;
  width: 60%;
  min-width: 240px;
  max-width: 500px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.Mode {
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
}

.bookDisplayContainer {
  background: #36393f;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.BookDisplay .Mode button {
  width: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  background: #efefef;
  color: #36393f;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

.BookDisplay .View {
  position: absolute;
  bottom: 0;
  left: 0;
}

.BookDisplay .Edit {
  position: absolute;
  bottom: 0;
  right: 0;
}

.BookDisplay .Mode button:disabled {
  background: #36393f;
  color: #efefef;
  height: 60px;
}

img {
  max-width: 200px;
  border: 2px solid teal;
}
