.BookDisplay {
  text-align: left;
  background: white;
  z-index: 500;
  /* display: flex; */
}
.BookDisplay > * {
  margin: 20px;
}

img {
  max-width: 200px;
  border: 2px solid teal;
}

.myTags {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.myTags > * {
  background: teal;
  margin: 5px;
  padding: 5px;
  color: #fff;
}
