.Auth {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: fit-content;
  z-index: 200;
}

@media (max-width: 500px) {
  .Auth {
    background: #fff;
    box-sizing: border-box;
    color: #000;
    float: right;
    position: sticky;
    right: 0;
    top: 0;
    width: calc(100% - 46px);
  }
}
